@charset "UTF-8";
#pl-title{
	width:100%;
	padding-bottom:30px;
	border-bottom:2px solid #d9534f;
	margin-bottom: 50px;
}
#pl-title h1{
	font-size: 1.5em;
	font-weight: bold;
}
#info-text{
	text-align: center;
	width: 100%;
	margin: 30px auto;
	border: 2px solid #dad8d9;
	border-radius:15px;
	height: 150px;
}
#info-text p{
	margin-top:30px;
	font-size: 1.3em;
	font-weight: bold;
}
#info-text span {
	color:#c16d13;
}
#reqinfo p{
	font-size: 1.2em;
	font-weight: bold;
	color:#d9534f;
}
#cardList{
	margin: 30px auto;
}
#listTb{
	border-top: 2px solid black;
	width: 100%;
	table-layout: fixed;
	text-align: center;
	border-bottom: 2px solid black;
}
#listTb td{
	vertical-align: middle;
}
.dTd{
	height: 50px;
	border:1px solid #dad8d9;
}