@charset "UTF-8";

#stockMainContainer{
	width: 100%;
	text-align: center;
	box-shadow: 1px 1px 2px 2px darkgray;
   	border-radius: 5px;
   	padding : 20px;
}

#stockMainContainer h2{
	font-size: 1.5em;
	font-weight: bold;
	color: #e05757;
}

#stockMainContainer h3{
	font-size: 1.3em;
	font-weight: bold;
	color: #e05757;
}

#choiceList{
	width: 90%;
	margin: 20px;
	text-align: center;
   	border-bottom : 2px solid darkgrey;
   	padding-bottom: 20px;
}

#choiceList input,select{
	border:none;
	box-shadow: 1px 1px 2px 2px darkgray;
   	border-radius: 5px;
   	padding: 2px;
   	text-align: center;
}

#choiceList label{
	margin-left: 30px;
}

#stockList{
	text-align: center;
	width: 100%;
	margin-left: 2.5%;
}

#detail {
	width: 90%;
	text-align: center;

}

#detail table{
	text-align: center;
	margin: 0 auto;
}

#detail tr:first-child {
	border-bottom: 1px solid darkgray;
}
#detail td{
	padding: 15px;
}

#detail tr:first-child td{
	padding-bottom: 15px;	
}

#detail td:first-child {
	width: 20%;
}
#stockOn{
	 margin-top: 20px;
	 text-align: center;
     width: 250px;
     height: 40px;
     background: #fa5959;
     color: white;
     border-radius: 10px;
     border: none;
     cursor: pointer;
}

#stockNoList{
	text-align: center;
}

#stockNoList label{
	font-size: 1.1em;
	font-weight: bold;
	color: #e05757;
	margin-bottom: 10px;	
}

#stockNoList #stockNoList{
	padding: 3px;
	width: 20%;
}

#stockLabel{
	font-size: 1.1em;
	margin-bottom: 10px;
}

#inputForm{
	margin-top: 10px;
	text-align: center;
}

#inputForm input{
	margin-bottom: 15px;
	border:none;
	box-shadow: 1px 1px 2px 2px barkgrey;
   	border-radius: 5px;
   	padding: 2px;
   	text-align: center;
   	background: #e4e4e4;
   	margin-bottom: 15px;
}

#inputForm input[type=submit]{
	 margin-bottom: 35px;
	 text-align: center;
     width: 50%;
     height: 40px;
     background: #fa5959;
     color: white;
     border-radius: 10px;
     border: none;
     cursor: pointer;
}

#inputStockForm label:first-child{
	margin-top: 15px;
}


#inputStockForm label{
	font-size: 1.0em;
    color: black;
    font-weight: 100;
}









