<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">

	<select id="checkLogin" parameterType="clientVo" resultType="clientVo">
		select * from CLIENT
		where CLIENT_ID = #{client_id} and CLIENT_PASS = #{client_pass}
	</select>

</mapper>
	
	
	
	
	
	
	
	
	
	
	
	